In [41]:
import pandas as pd

In [42]:
frame = pd.read_csv('Election1.csv')

In [44]:
frame = frame[frame['Total number of voters'] != "0"]

In [45]:
frame = frame.sort_values(by = 'Margin Amount', ascending = False)

In [46]:
edit = frame['Margin Amount'].tolist()

In [8]:
len(edit)

4232

In [47]:
newlist = []
for row in edit:
    if ("<" in row):
        str = row.replace("<", "+")
        newlist.append(str)
    else:
        newlist.append(row)

In [10]:
len(newlist)

4232

In [48]:
winnerlist = []
marginlist = []
for item in newlist:
    try: 
        splitter = item.split("+")
        winnerlist.append(splitter[0])
        marginlist.append(splitter[1])
    except:
        marginlist.append("0 ")

In [49]:
frame['Winner'] = winnerlist
frame['Margin of victory'] = marginlist

In [13]:
frame

,Name of State,County Name,Margin Amount,Total number of voters,Winner,Margin of victory
1595,michigan,Muskegon,Trump <0.1,"94,497",Trump,0.1
4407,new-hampshire,Winchester,Trump <0.1,"2,019",Trump,0.1
4037,texas,Roberts,Trump +93,550,Trump,93
4077,texas,Borden,Trump +92,412,Trump,92
4039,texas,King,Trump +90,159,Trump,90
...,...,...,...,...,...,...
1616,minnesota,Winona,Biden +0.2,"26,997",Biden,0.2
1446,massachusetts,Barre,Biden +0.1,"3,163",Biden,0.1
4462,new-hampshire,Springfield,Biden +0.1,889,Biden,0.1
2075,north-carolina,Pasquotank,Biden +0.1,"19,512",Biden,0.1
3500,maine,Brownfield,Biden +0.1,952,Biden,0.1

In [15]:
# frame = frame[frame['Name of State'] != 'alaska']

In [50]:
stateabbreviations = ['AL','AK','AZ','AR','CA','CO','CT','DE','FL','GA','HI','ID','IL','IN','IA','KS','KY','LA','ME','MD',
                      'MA','MI','MN','MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC','ND','OH','OK','OR','PA','RI','SC',
                      'SD','TN','TX','UT','VT','VA','WA','WV','WI','WY']
states = ["Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "Florida", 
          "Georgia", "Hawaii","Idaho","Illinois", "Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland",
          "Massachusetts","Michigan","Minnesota", "Mississippi","Missouri","Montana","Nebraska","Nevada", "New Hampshire",
          "New Jersey","New Mexico","New York","North Carolina","North Dakota","Ohio","Oklahoma","Oregon","Pennsylvania",
          "Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah","Vermont","Virginia","Washington",
          "West Virginia","Wisconsin","Wyoming"]
statesnew = []
for s in states:
    s = s.replace(" ", "-")
    s = s.lower()
    statesnew.append(s)

In [51]:
statenames = frame['Name of State'].tolist()
countynames = frame['County Name'].tolist()

In [74]:
count = 0
combinednames = []
for num in range(len(statenames)):
    statename = statenames[num]
    for state in statesnew:
        count = count + 1
        if (state == statename):
            index = statesnew.index(state)
            combinedstring = countynames[num] + "," + stateabbreviations[index]
            combinednames.append(combinedstring)

In [75]:
len(combinednames)

4232

In [76]:
frame['County + State'] = combinednames

,Name of State,County Name,Margin Amount,Total number of voters,Winner,Margin of victory,County + State
1616,minnesota,Winona,Biden +0.2,"26,997",Biden,0.2,"Winona,MN"
1446,massachusetts,Barre,Biden +0.1,"3,163",Biden,0.1,"Barre,MA"
4462,new-hampshire,Springfield,Biden +0.1,889,Biden,0.1,"Springfield,NH"
2075,north-carolina,Pasquotank,Biden +0.1,"19,512",Biden,0.1,"Pasquotank,NC"
3500,maine,Brownfield,Biden +0.1,952,Biden,0.1,"Brownfield,ME"

In [82]:
frame = frame.drop(['Name of State', 'County Name', 'Margin Amount'], axis = 1)

In [84]:
frame.to_csv('ElectionResults.csv')

In [85]:
frame

     Total number of voters   Winner Margin of victory  County + State
1595                 94,497   Trump               0.1      Muskegon,MI
4407                  2,019   Trump               0.1    Winchester,NH
4037                    550   Trump                93       Roberts,TX
4077                    412   Trump                92        Borden,TX
4039                    159   Trump                90          King,TX
...                     ...      ...               ...             ...
1616                 26,997   Biden               0.2        Winona,MN
1446                  3,163   Biden               0.1         Barre,MA
4462                    889   Biden               0.1   Springfield,NH
2075                 19,512   Biden               0.1    Pasquotank,NC
3500                    952   Biden               0.1    Brownfield,ME

[4232 rows x 4 columns]