In [7]:
%matplotlib inline
#imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression

#reading in UniversalBank csv and setting it as a Data Frame called df
df = pd.read_csv('completedataset.csv')

In [16]:
import pandas as pd
from sklearn import linear_model
import statsmodels.api as sm

In [8]:
df = df.set_index('County + State')

In [19]:
df

,Total number of voters,Result,% bachelor's degree 2014-18,Population Change 2010-2019,Percent in Poverty,Estimate Median Household Income,Known Number of Cases per 100k
County + State,,,,,,,
"McKenzie,ND","5,412",84.0,26.1,2.34311,9.2,"76,224","5,358.10"
"Loving,TX",66,92.5,0.0,2.01190,3.3,"78,637",591.7
"Williams,ND","14,285",84.0,24.8,1.66404,6.5,"79,354","7,339.90"
"Hays,TX","108,822",45.0,37.4,1.45493,13.2,"68,180","2,968.40"
"Wasatch,UT","16,456",63.0,40.6,1.44185,5.3,"85,380","5,162.70"
...,...,...,...,...,...,...,...
"McDowell,WV","6,494",80.0,5.4,0.79757,35.4,"27,292","3,047.00"
"Schleicher,TX","1,158",82.0,16.5,0.79732,16.5,"47,317","3,580.40"
"Terrell,TX",458,73.5,15.3,0.76756,18.9,"41,413","1,417.50"
"Alexander,IL","5,631",55.0,11.3,0.70205,27.6,"35,249","3,922.90"
"Concho,TX","1,268",84.0,11.9,0.66455,26.6,"40,987","6,566.40"

In [18]:
df.dtypes

Total number of voters               object
Result                              float64
% bachelor's degree 2014-18         float64
Population Change 2010-2019         float64
Percent in Poverty                  float64
Estimate Median Household Income     object
Known Number of Cases per 100k       object
dtype: object

In [20]:
voters = df['Total number of voters'].tolist()
income = df['Estimate Median Household Income'].tolist()
cases = df['Known Number of Cases per 100k'].tolist()

In [28]:
newvoters = []
newincome = []
newcases = []
for item in voters:
    try:
        newstr = item.replace(',','')
        newstr = int(newstr)
        newvoters.append(newstr)
    except:
        newstr = item
        newstr = int(newstr)
        newvoters.append(newstr)

ValueError: invalid literal for int() with base 10: '76,224'

In [31]:
for item in income:
    try:
        newstr = item.replace(',','')
        newstr = float(newstr)
        newincome.append(newstr)
    except:
        newstr = item
        newstr = float(newstr)
        newincome.append(newstr)

In [32]:
for item in cases:
    try:
        newstr = item.replace(',','')
        newstr = float(newstr)
        newcases.append(newstr)
    except:
        newstr = item
        newstr = float(newstr)
        newcases.append(newstr)

In [35]:
df['Total number of voters'] = newvoters
df['Median Income'] = newincome
df['Cases per 100k'] = newcases

In [37]:
df = df.drop(['Total number of voters', 'Estimate Median Household Income', 'Known Number of Cases per 100k'], axis = 1)

In [38]:
df

,Result,% bachelor's degree 2014-18,Population Change 2010-2019,Percent in Poverty,Median Income,Cases per 100k
County + State,,,,,,
"McKenzie,ND",84.0,26.1,2.34311,9.2,76224.0,5358.1
"Loving,TX",92.5,0.0,2.01190,3.3,78637.0,591.7
"Williams,ND",84.0,24.8,1.66404,6.5,79354.0,7339.9
"Hays,TX",45.0,37.4,1.45493,13.2,68180.0,2968.4
"Wasatch,UT",63.0,40.6,1.44185,5.3,85380.0,5162.7
...,...,...,...,...,...,...
"McDowell,WV",80.0,5.4,0.79757,35.4,27292.0,3047.0
"Schleicher,TX",82.0,16.5,0.79732,16.5,47317.0,3580.4
"Terrell,TX",73.5,15.3,0.76756,18.9,41413.0,1417.5
"Alexander,IL",55.0,11.3,0.70205,27.6,35249.0,3922.9
"Concho,TX",84.0,11.9,0.66455,26.6,40987.0,6566.4

In [39]:
#mulitple regression 

X = df.drop(['Result'], axis = 1)
Y = df['Result']

In [40]:

regr = linear_model.LinearRegression()
regr.fit(X, Y)

print('Intercept: \n', regr.intercept_)
print('Coefficients: \n', regr.coef_)

Intercept:
 120.32311445955514
Coefficients:
 [-9.81434986e-01  6.73077436e+00 -1.43820162e+00 -3.43000982e-04
  1.71056071e-04]

In [41]:
# with statsmodels
X = sm.add_constant(X) # adding a constant
 
model = sm.OLS(Y, X).fit()
predictions = model.predict(X) 
 
print_model = model.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Result   R-squared:                       0.434
Model:                            OLS   Adj. R-squared:                  0.433
Method:                 Least Squares   F-statistic:                     458.8
Date:                Mon, 04 Jan 2021   Prob (F-statistic):               0.00
Time:                        03:23:23   Log-Likelihood:                -11686.
No. Observations:                2996   AIC:                         2.338e+04
Df Residuals:                    2990   BIC:                         2.342e+04
Df Model:                           5
Covariance Type:            nonrobust
===============================================================================================
                                  coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------
const                         120.3231      3.227     37.282      0.000     113.995     126.651
% bachelor's degree 2014-18    -0.9814      0.034    -28.951      0.000      -1.048      -0.915
Population Change 2010-2019     6.7308      2.862      2.351      0.019       1.118      12.343
Percent in Poverty             -1.4382      0.057    -25.067      0.000      -1.551      -1.326
Median Income                  -0.0003   3.14e-05    -10.923      0.000      -0.000      -0.000
Cases per 100k                  0.0002      0.000      1.680      0.093   -2.86e-05       0.000
==============================================================================
Omnibus:                      111.133   Durbin-Watson:                   1.929
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              135.143
Skew:                          -0.422   Prob(JB):                     4.51e-30
Kurtosis:                       3.609   Cond. No.                     1.02e+06
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.02e+06. This might indicate that there are
strong multicollinearity or other numerical problems.

In [42]:
df

,Result,% bachelor's degree 2014-18,Population Change 2010-2019,Percent in Poverty,Median Income,Cases per 100k
County + State,,,,,,
"McKenzie,ND",84.0,26.1,2.34311,9.2,76224.0,5358.1
"Loving,TX",92.5,0.0,2.01190,3.3,78637.0,591.7
"Williams,ND",84.0,24.8,1.66404,6.5,79354.0,7339.9
"Hays,TX",45.0,37.4,1.45493,13.2,68180.0,2968.4
"Wasatch,UT",63.0,40.6,1.44185,5.3,85380.0,5162.7
...,...,...,...,...,...,...
"McDowell,WV",80.0,5.4,0.79757,35.4,27292.0,3047.0
"Schleicher,TX",82.0,16.5,0.79732,16.5,47317.0,3580.4
"Terrell,TX",73.5,15.3,0.76756,18.9,41413.0,1417.5
"Alexander,IL",55.0,11.3,0.70205,27.6,35249.0,3922.9
"Concho,TX",84.0,11.9,0.66455,26.6,40987.0,6566.4

In [44]:
Trumpwins = df[df['Result'] > 55.0]

In [45]:
Bidenwins = df[df['Result'] < 45.0]

In [50]:
Closerace = df[(df['Result'] < 55.0) & (df['Result'] > 45.0)]

In [53]:
Trumpwins

,Result,% bachelor's degree 2014-18,Population Change 2010-2019,Percent in Poverty,Median Income,Cases per 100k
County + State,,,,,,
"McKenzie,ND",84.0,26.1,2.34311,9.2,76224.0,5358.1
"Loving,TX",92.5,0.0,2.01190,3.3,78637.0,591.7
"Williams,ND",84.0,24.8,1.66404,6.5,79354.0,7339.9
"Wasatch,UT",63.0,40.6,1.44185,5.3,85380.0,5162.7
"Trousdale,TN",74.0,16.8,1.43307,18.6,49280.0,16705.1
...,...,...,...,...,...,...
"Morton,KS",87.0,17.1,0.79846,11.1,53785.0,4058.8
"McDowell,WV",80.0,5.4,0.79757,35.4,27292.0,3047.0
"Schleicher,TX",82.0,16.5,0.79732,16.5,47317.0,3580.4
"Terrell,TX",73.5,15.3,0.76756,18.9,41413.0,1417.5
"Concho,TX",84.0,11.9,0.66455,26.6,40987.0,6566.4

In [55]:
Trumpwins.mean(axis = 0)

Result                            73.344511
% bachelor's degree 2014-18       19.432550
Population Change 2010-2019        1.004976
Percent in Poverty                14.861555
Median Income                  51273.560871
Cases per 100k                  4033.685946
dtype: float64

In [56]:
Bidenwins.mean(axis = 0)

Result                            34.245509
% bachelor's degree 2014-18       33.444012
Population Change 2010-2019        1.033960
Percent in Poverty                16.217964
Median Income                  62711.832335
Cases per 100k                  3520.176347
dtype: float64

In [57]:
Closerace.mean(axis = 0)

Result                            50.261004
% bachelor's degree 2014-18       27.436680
Population Change 2010-2019        1.033984
Percent in Poverty                15.080309
Median Income                  57660.335907
Cases per 100k                  3611.225097
dtype: float64